<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" metadata-complete="true">
    <!-- Context ConfigLocation -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:spring/spring-context-jedis.xml;
            classpath*:spring/spring-context-dubbo.xml;
        </param-value>
    </context-param>

    <listener>
        <listener-class>com.tommonkey.web.listener.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>springServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:/spring/spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>



    <listener>
        <listener-class>org.comet4j.core.CometAppListener</listener-class>
    </listener>
    <servlet>
        <display-name>CometServlet</display-name>
        <servlet-name>CometServlet</servlet-name>
        <servlet-class>org.comet4j.core.CometServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CometServlet</servlet-name>
        <url-pattern>/conn</url-pattern>
    </servlet-mapping>

    <listener>
        <description>HelloWorld</description>
        <listener-class>com.tommonkey.utils.im.InitPushServer</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Comet4J可选参数配置-->
    <context-param>
        <description>语言[支持：zh,en,默认:zh，详细http://www.loc.gov/standards/iso639-2/php/English_list.php]</description>
        <param-name>Comet.Language</param-name>
        <param-value>zh</param-value>
    </context-param>
    <context-param>
        <description>请求超时时间/微妙[默认:60000,1分钟,建议至少设置3秒以上]</description>
        <param-name>Comet.Timeout</param-name>
        <param-value>60000</param-value>
    </context-param>
    <context-param>
        <description>连接空闲过期时间/微妙[默认:5000,5秒]</description>
        <param-name>Comet.ConnExpires</param-name>
        <param-value>15000</param-value>
    </context-param>
    <context-param>
        <description>连接检查频率/微妙[默认:5000,5秒]</description>
        <param-name>Comet.ConnFrequency</param-name>
        <param-value>15000</param-value>
    </context-param>
    <context-param>
        <description>缓存信息过期时间/微妙[默认:60000,1分种]</description>
        <param-name>Comet.CacheExpires</param-name>
        <param-value>60000</param-value>
    </context-param>
    <context-param>
        <description>缓存信息过期检查频率/微妙[默认:60000,1分种]</description>
        <param-name>Comet.CacheFrequency</param-name>
        <param-value>60000</param-value>
    </context-param>
    <context-param>
        <description>连接模式[auto(默认)/stream/lpool]</description>
        <param-name>Comet.WorkStyle</param-name>
        <param-value>lpool</param-value>
    </context-param>
    <context-param>
        <description>开启调试[false(默认)/true]</description>
        <param-name>Comet.Debug</param-name>
        <param-value>true</param-value>
    </context-param>


    <!--<servlet>
        <servlet-name>AxisServlet</servlet-name>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>-->

    <!-- Apache Shiro -->
    <!--<filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <!-- Validate code -->

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>